
$dark-color: #000;
.btn{
    display: inline-block;
    height: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: #f48fb1;
    box-shadow: 0 2px 2px 0 rgba($dark-color,.14), 0 3px 1px -2px rgba($dark-color,.2), 0 1px 5px 0 rgba($dark-color,.12);
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: #f36c99;
    }

    &--rounded{
        width: 40px !important;
        height: 40px;
        border-radius: 50%;
    }
}