$shadow-color:              #26336e;
$header-background-color:   #fff;
.header{
    padding: 0 30px;
    background-color: $header-background-color;
    box-shadow: 0 5px 13px -10px rgba($shadow-color, 0.70);
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    &__nav{
        display: flex;
        width: calc(100vw - 60px);
        &-list{
            display: flex;
            flex: 1;
        }

        &-item{
            &:not(:last-child){
                margin-right: 15px;
            }
        }


    }
}