// Page Wrap
.page-wrap{
    padding-top: 80px;
}

// Page Content
.main-content{
    padding: 0 30px;
    margin-top: 30px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}